* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background: lightgreen;
  font-size: 1.5rem;
  color: black;
}

.container {
  width: 250px;
  padding: 15px;
  text-align: center;
  background: white;
  height: 240px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.location{
  font-weight: bold;
}

form {
  display: flex;
  gap: 10px
}

input,
button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1rem;
}